@keyframes heartbeat
{
    0%
    {
        transform: scale( .75 );
    }
    20%
    {
        transform: scale( 1 );
    }
    40%
    {
        transform: scale( .75 );
    }
    60%
    {
        transform: scale( 1 );
    }
    80%
    {
        transform: scale( .75 );
    }
    100%
    {
        transform: scale( .75 );
    }
}

.me {
    display: flex;
    flex-flow: row wrap;
    min-height: 25vh;
    align-content: space-around;
    align-items: center;
}

.total {
    width: 100%;
}

.heart {
    position:relative;
    width: 15vw;
    fill: red;
    margin: auto;
}

.counter {
    position: absolute;
    top: 37%;
    left: 0;
    font-size: 3vh;
    width: 15vw;
    text-align: center;
}

.status {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.half {
    width: 48%;
    font-size: 3vw;
}

.label {
    width: 48%;
    font-size: 3vw;
    text-align: right;
}

.content {
    width: 48%;
    font-size: 3vw;
}

.link {
    color: white;
}

.button {
    width: 48%;
    font-size: 3vw;
    border: 2px solid white;
    text-align: center;
    cursor: pointer;
    padding: 5px 0px;
}
