.input {
    width: 48vw;
    padding: 5px 0;
    border: 2px solid white;
    background: inherit;
    color: inherit;
    font-size: inherit;
    font-family: inherit;
    display: inherit;
    text-align: center;
}

.item {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-flow: row wrap;
    width: 100%;
}

.label {
    width: 100%;
    font-size: 3vw;
    text-align: center;
}